<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Futhead</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>3E32B2DB-35EB-45C9-9D60-AC31A761A2A9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DCE45951-B06A-4AC2-A7E8-4C962CA8C999</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Creolophus</string>
	<key>description</key>
	<string>查询futhead FIFA18球员数据</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>FutHead</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import webbrowser
import clipboard

query = "{query}"

if 'http' in query:
	webbrowser.open_new(query)
else:
	clipboard.copy(query)
	pass</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DCE45951-B06A-4AC2-A7E8-4C962CA8C999</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>futhead</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>查询中...</string>
				<key>script</key>
				<string>python futhead.py {query}</string>
				<key>title</key>
				<string>请输入球员名</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3E32B2DB-35EB-45C9-9D60-AC31A761A2A9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3E32B2DB-35EB-45C9-9D60-AC31A761A2A9</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>DCE45951-B06A-4AC2-A7E8-4C962CA8C999</key>
		<dict>
			<key>ypos</key>
			<real>80</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
